@import "../../../style.scss";

.page404 {
    @include themify($themes) {
        width: 100%;
        height: 100vh;
        background: themed("bg");
        color: themed("textColor1");
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h1{
            font-size: 80px;
        }
        h2{
            font-size: 60px;
        }
        h3{
            font-size: 30px;
            padding-top: 40px;
        }
        .tree{
            font-size: 100px;
            color: themed("icon");
        }
    }
}