@import "../../../style.scss";

.navbar {
    @include themify($themes) {
        width: 100%;
        height: 90px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 30px;
        background: themed("bg");

        @include mobile {
            height: 120px;
            padding: 10px 0 20px;
        }

        .menu {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            width: 1250px;
            gap: 20px;


            ul {
                display: flex;
                align-items: center;
                justify-items: center;
                gap: 35px;

                @include mobile {
                    display: none !important;
                }

                li {
                    position: relative;
                    cursor: pointer;
                    color: themed("textColor1");

                    &::before {
                        content: '';
                        width: 0;
                        height: 1px;
                        background: themed("textColor1");
                        position: absolute;
                        left: -20%;
                        top: -3px;
                        transition: all ease 0.4s;
                        -webkit-transition: all ease 0.4s;
                        -moz-transition: all ease 0.4s;
                        -ms-transition: all ease 0.4s;
                        -o-transition: all ease 0.4s;
                    }

                    &::after {
                        content: '';
                        width: 0;
                        height: 1px;
                        background: themed("textColor1");
                        position: absolute;
                        right: -20%;
                        bottom: -3px;
                        transition: all ease 0.4s;
                        -webkit-transition: all ease 0.4s;
                        -moz-transition: all ease 0.4s;
                        -ms-transition: all ease 0.4s;
                        -o-transition: all ease 0.4s;
                    }

                    &:hover {

                        &::before {
                            width: 140%;
                        }

                        &::after {
                            width: 140%;
                        }
                    }

                }
            }

            .nav-burger {
                font-size: 40px;
                color: themed("textColor1");
                display: none;

                @include mobile {
                    display: block;
                }
            }

            .burger {
                position: relative;
                width: 40px;
                height: 30px;
                background: transparent;
                cursor: pointer;

                @include mobile {
                    display: none;
                }
            }

            .burger input {
                display: none;
            }

            .burger span {
                display: block;
                position: absolute;
                height: 4px;
                width: 100%;
                background: themed("textColor1");
                border-radius: 9px;
                opacity: 1;
                right: 0;
                transform: rotate(0deg);
                transition: .25s ease-in-out;
                -webkit-transition: .25s ease-in-out;
                -moz-transition: .25s ease-in-out;
                -ms-transition: .25s ease-in-out;
                -o-transition: .25s ease-in-out;

            }

            .burger span.top {
                top: 0px;
                transform-origin: left center;
            }

            .burger span.middle {
                top: 50%;
                transform: translateY(-50%);
                transform-origin: left center;
            }

            .burger span.bottom {
                top: 100%;
                transform-origin: left center;
                transform: translateY(-100%);
            }

            .burger input:checked~span.top {
                top: 0px;
                left: 5px;
                transform: rotate(45deg);
                -webkit-transform: rotate(45deg);
                -moz-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                -o-transform: rotate(45deg);

                @include mobile {
                    transform: rotate(47deg);
                    -webkit-transform: rotate(47deg);
                    -moz-transform: rotate(47deg);
                    -ms-transform: rotate(47deg);
                    -o-transform: rotate(47deg);
                }
            }

            .burger input:checked~span.middle {
                width: 0%;
                opacity: 0;
            }

            .burger input:checked~span.bottom {
                top: 28px;
                left: 5px;
                transform: rotate(-45deg);
                -webkit-transform: rotate(-45deg);
                -moz-transform: rotate(-45deg);
                -ms-transform: rotate(-45deg);
                -o-transform: rotate(-45deg);

                @include mobile {
                    top: 22px;
                    transform: rotate(-47deg);
                    -webkit-transform: rotate(-47deg);
                    -moz-transform: rotate(-47deg);
                    -ms-transform: rotate(-47deg);
                    -o-transform: rotate(-47deg);
                }
            }
        }

        .mode {
            position: absolute;
            top: -40px;
            right: 0;

            @include mobile {
                display: none;
            }

            @include tablet {
                right: 30px;
            }

            /* The switch - the box around the slider */
            .switch {
                --width-of-switch: 3.5em;
                --height-of-switch: 2em;
                /* size of sliding icon -- sun and moon */
                --size-of-icon: 1.4em;
                /* it is like a inline-padding of switch */
                --slider-offset: 0.3em;
                position: relative;
                width: var(--width-of-switch);
                height: var(--height-of-switch);
                justify-self: start;

                /* Hide default HTML checkbox */
                input {
                    opacity: 0;
                    width: 0;
                    height: 0;
                }

                /* The slider */
                .slider {
                    position: absolute;
                    cursor: pointer;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background-color: #f4f4f5;
                    transition: .4s;
                    border-radius: 30px;

                    &:before {
                        position: absolute;
                        content: "";
                        height: var(--size-of-icon, 1.4em);
                        width: var(--size-of-icon, 1.4em);
                        border-radius: 20px;
                        left: var(--slider-offset, 0.3em);
                        top: 50%;
                        transform: translateY(-50%);
                        background: linear-gradient(40deg, #ff0080, #ff8c00 70%);
                        ;
                        transition: .4s;
                    }
                }
            }

            input:checked+.slider {
                background-color: #303136;
            }

            input:checked+.slider:before {
                left: calc(100% - (var(--size-of-icon, 1.4em) + var(--slider-offset, 0.3em)));
                background: #303136;
                /* change the value of second inset in box-shadow to change the angle and direction of the moon  */
                box-shadow: inset -3px -2px 5px -2px #8983f7, inset -10px -4px 0 0 #a3dafb;
            }
        }

        .nav-offcanvas {
            background: themed("bgSoft");
            width: 80%;
            height: 100%;
            display: none;
            padding: 50px 15px;
            position: relative;
            z-index: 9999;

            @include mobile {
                display: block;
            }

            .off-close {
                position: absolute;
                top: 10px;
                right: 10px;
                font-size: 24px;
                color: themed("icon");
            }

            .mode {
                position: absolute;
                top: 12px;
                left: 15px;

                @include mobile {
                    display: block;
                }

                .switch {
                    --width-of-switch: 3em;
                    --height-of-switch: 1.3em;
                    --size-of-icon: 1em;
                    --slider-offset: 0.3em;
                }
            }

            ul {
                display: flex;
                flex-direction: column;
                justify-items: center;
                gap: 20px;

                li {
                    position: relative;
                    cursor: pointer;
                    color: themed("textColor1");

                    &::before {
                        content: '';
                        width: 0;
                        height: 1px;
                        background: themed("textColor1");
                        position: absolute;
                        left: 0;
                        top: -3px;
                        transition: all ease 0.4s;
                        -webkit-transition: all ease 0.4s;
                        -moz-transition: all ease 0.4s;
                        -ms-transition: all ease 0.4s;
                        -o-transition: all ease 0.4s;
                    }

                    &::after {
                        content: '';
                        width: 0;
                        height: 1px;
                        background: themed("textColor1");
                        position: absolute;
                        right: 0;
                        bottom: -3px;
                        transition: all ease 0.4s;
                        -webkit-transition: all ease 0.4s;
                        -moz-transition: all ease 0.4s;
                        -ms-transition: all ease 0.4s;
                        -o-transition: all ease 0.4s;
                    }

                    &:hover {

                        &::before {
                            width: 100%;
                        }

                        &::after {
                            width: 100%;
                        }
                    }

                }
            }
        }

    }
}